@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
	height: 1300px;
	width: 730px;
	margin: 15px auto;
}

#form{
	width: 400px;
	margin: 0 auto;
}

.input{
	width: 400px;
	border: 0;
  	outline: none;
  	box-shadow: none;
  	display: block;
  	height: 30px;
  	line-height: 30px;
  	padding: 8px 15px;
  	width: 90%;
  	font-size: 20px;
  	float: right;
}

.clear{
	clear:both;
	
}

.submit, .button  {
	width: 567px;
	height: 70px;
	border-radius: 10px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 0 auto;
    position: relative;
    left: -83px; 
}

.button {
	position: relative;
	left: 83px;
}

.submit:hover, .button:hover{
	  transition: .3s;
  background-color: rgba(0, 0, 0, 0.2);
}


